/*	===================
	THE CRAFT (Stylesheet)
	By Xemah
	=================== */
	
/*	FONT IMPORT
	=================== */

@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800&display=swap');

/*	ANIMATIONS
	=================== */

@keyframes background {
	0% {
		background-position-y: 0%;
	}
	100% {
		background-position-y: 100%;
	}
}


/*	VARIABLES
	=================== */

:root {
	--pageBackground: #EFEFEF;
	--primaryBackground: #FFFFFF;
	--secondaryBackground: #F5F5F5;
	--primaryText: rgb(var(--gray800));
	--secondaryText: rgb(var(--white));
	--mutedText: rgb(var(--gray500));
	--navbarBackground: #fff;
	--white: 255, 255, 255;
	--gray100: 245, 245, 245;
	--gray200: 238, 238, 238;
	--gray300: 224, 224, 224;
	--gray400: 189, 189, 189;
	--gray500: 158, 158, 158;
	--gray600: 117, 117, 117;
	--gray700: 97, 97, 97;
	--gray800: 66, 66, 66;
	--gray900: 33, 33, 33;
	--black: 0, 0, 0;
	--weightRegular: 500;
	--weightMedium: 600;
	--weightBold: 700;
	--primary: 156, 39, 176;
	--primaryLighter: 181, 29, 174;
	--transitionColor: color 0.2s ease;
	--transitionBackground: background 0.2s ease;
	--transitionOpacity: opacity 0.15s ease;
	--transitionFilter: filter 0.2s ease;
	--transitionBorder: border 0.2s ease;
}

/*	WILDCARD
	=================== */

*,
*::before,
*::after {
	box-sizing: border-box;
}

/*	BODY
	=================== */

body {
	background: var(--pageBackground);
	margin: 0;
	padding: 0;
	color: var(--primaryText);
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
	font-weight: var(--weightRegular);
}

.wrapper {
	min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*	NAVIGATION BAR
	=================== */

.navbar {
	background: var(--navbarBackground);
	margin: 0;
	padding: 1rem;
}

.navbar .navbar-brand {
	margin: 0;
	padding: 0;
	color: rgb(var(--primary));
	font-size: 1.5rem;
	font-weight: 800;
	text-transform: uppercase;
	transition: var(--transitionOpacity);
}

.navbar .navbar-brand span {
	font-size: 0.6em;
	font-weight: var(--weightRegular);
}

.navbar .navbar-brand:hover {
	opacity: 0.75;
}

.navbar .navbar-nav {
	align-items: center;
}

@media (max-width: 992px) {
	.navbar .navbar-nav {
		align-items: flex-end;
	}
}

.navbar .nav-item .nav-link {
	padding: 0;
	margin: 0 1rem;
	color: rgb(var(--gray500));
	font-size: 0.85rem;
	font-weight: var(--weightMedium);
	transition: var(--transitionColor);
}

@media (max-width: 992px) {
	.navbar .nav-item .nav-link {
		margin: 0.5rem 0;
	}
}

.navbar .nav-item.active .nav-link {
	color: rgb(var(--primary));
	font-weight: var(--weightBold);
}

.navbar .nav-item .nav-link:hover {
	color: rgb(var(--gray800));
}

.navbar .nav-item:not(.search-item):not(.store-item) .nav-link > i {
	display: none;
}

@media (max-width: 992px) {
	.navbar .nav-item.search-item {
		display: none;
	}
}

.navbar .nav-item.avatar img {
	height: 22px;
	width: 22px;
	margin-right: 1rem;
	border-radius: 0.25rem;
}

@media (min-width: 992px) {
	.navbar .nav-item.store-item .nav-link {
		background: rgb(var(--primary));
		padding: 0.5rem 1.5rem;
		color: rgb(var(--white));
		font-size: 0.75rem;
		border-radius: 5rem;
		transition: var(--transitionOpacity);
	}
	.navbar .nav-item.store-item .nav-link:hover {
		opacity: 0.85;
	}
}

.navbar .nav-item .nav-link i {
	margin-right: 0.45rem;
	margin-left: -0.25rem;
}

.navbar .navbar-toggler {
	padding: 0;
	margin: 0;
	color: rgb(var(--gray500));
	font-size: 1.2rem;
	transition: var(--transitionColor);
	outline: none !important;
}

.navbar .navbar-toggler:hover {
	color: rgb(var(--gray800));
}

/*	HEADER
	=================== */

.header {
	background: rgb(var(--primary));
	background: linear-gradient(rgba(var(--primary), 0.9), rgba(var(--primary), 0.9)), url('../img/background.png') no-repeat center 100% / cover;
	animation: background 10s ease-in-out infinite alternate;
	padding: 3.5rem;
	padding-bottom: calc(3.5rem + 20px);
	color: rgb(var(--white));
	text-align: center;
}

.header .header-logo {
	width: 150px;
	margin-right: 1rem;
}

.header h1 {
	font-size: 2rem;
	font-weight: 600;
	text-transform: uppercase;
	margin: 0;
}

.header h1 .subtitle {
	margin-top: 1rem;
	font-size: 0.75rem;
	font-weight: var(--weightMedium);
	letter-spacing: 0.2rem;
	opacity: 0.85;
}

/*	HEADER
	=================== */

.heading {
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgb(var(--primary));
	background: linear-gradient(rgba(var(--primary), 0.9), rgba(var(--primary), 0.9)), url('../img/background.png') no-repeat center 100% / cover;
	animation: background 10s ease-in-out infinite alternate;
	margin: 1rem 0;
	padding: 2rem;
	border-radius: 0.25rem;
	color: rgb(var(--white));
	font-size: 1.5rem;
	font-weight: var(--weightBold);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.25rem;
}

.heading .meta {
	line-height: 1rem;
}

.heading .meta .dropdown-toggle {
    color: rgba(var(--white), 0.75);
	font-size: 0.8rem;
    font-weight: var(--weightRegular);
	text-decoration: none !important;
}

.heading .meta .dropdown-toggle:hover {
    color: rgba(var(--white), 1);
}

.heading .heading-avatar {
	width: 35px;
	height: 35px;
	border-radius: 0.25rem;
	margin-right: 0.75rem;
}

/*	STATUS BAR
	=================== */

.status-bar {
	background: rgba(var(--white), 0.975);
	margin-top: -28px;
	margin-bottom: 1rem;
	padding: 0.75rem 1.1rem;
	border: solid 1px rgb(var(--gray300));
	border-radius: 0.25rem;
	font-size: 0.9rem;
}

@media (max-width: 992px) {
	.status-bar [class*="col"]:first-child,
	.status-bar [class*="col"]:last-child {
		display: none;
	}
}

.status-bar .server-status {
	text-align: center;
}

.status-bar .social-item {
	display: flex;
	align-items: center;
}

.status-bar [class*="col"]:last-child .social-item {
	flex-direction: row-reverse;
	text-align: right;
}

.status-bar .social-item .social-icon {
	font-size: 1.5rem;
	margin-right: 0.5rem;
}

.status-bar [class*="col"]:last-child .social-item .social-icon {
	margin-right: 0;
	margin-left: 0.5rem;
}

.status-bar .social-item .social-icon {
	transform: translateY(1px);
}

.status-bar .social-item .social-content {
	line-height: 1rem;
}

.status-bar .social-item .social-title {
	color: rgb(var(--gray400));
	font-size: 0.8rem;
	font-weight: var(--weightBold);
	text-transform: uppercase;
	letter-spacing: 0.1rem;
}

.status-bar .social-item .social-meta {
	color: rgb(var(--primary));
	font-size: 0.9rem;
	font-weight: var(--weightMedium);
}

/*	ALERT
	=================== */

.alert {
	background: var(--primaryBackground);
	margin-bottom: 1rem;
	padding: 1rem 1.25rem;
	border: solid 1px rgb(var(--gray300));
	border-radius: 0.25rem;
	color: var(--primaryText);
	font-size: 0.8rem;
}

.alert-lg {
	padding: 1.5rem 2rem;
}

.alert h2 {
    margin: 0;
    padding: 0;
	color: rgb(var(--white));
    font-size: 1.5rem;
}

.alert p {
	margin: 0;
    color: rgba(var(--white), 0.8);
    font-size: 0.9rem;
}

.alert i {
	margin-right: 0.25rem;
}

.alert-success {
	background: #9CCC65;
	border: none;
	color: rgb(var(--white));
}

.alert-danger {
	background: #ff5252;
	border: none;
	color: rgb(var(--white));
}

.alert-info {
	background: #42A5F5;
	border: none;
	color: rgb(var(--white));
}

.alert-warning {
	background: #FFA726;
	border: none;
	color: rgb(var(--white));
}

/*	BREADCRUMB
	=================== */
	
.breadcrumb {
	background: var(--primaryBackground);
	padding: 0.6rem 1rem;
	border: solid 1px rgb(var(--gray300));
	border-radius: 0.25rem;
}

.breadcrumb-item,
.breadcrumb-item a {
	color: rgb(var(--gray500));
	font-size: 0.8rem;
	font-weight: var(--weightMedium);
}

.breadcrumb-item a:hover {
	color: rgb(var(--gray800));
}

.breadcrumb-item.active,
.breadcrumb-item.active a {
	color: rgb(var(--primary));
	font-weight: var(--weightMedium);
}

.breadcrumb-item + .breadcrumb-item::before {
	color: rgb(var(--gray400));
}


/*	CARD
	=================== */

.card {
	background: var(--primaryBackground);
	border: solid 1px rgb(var(--gray300));
	border-radius: 0.25rem;
	padding: 1rem;
	margin-bottom: 1rem;
}

.card-body {
	background: var(--primaryBackground);
	border: solid 1px rgb(var(--gray300));
	border-radius: 0.25rem;
	padding: 1rem;
	margin-bottom: 1rem;
	color: var(--primaryText);
}

.registration .input-group {
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 5px 64px 10px;
	position: relative;
}

.login .input-group:after,
.registration .input-group:after {
	content: "";
	position: absolute;
	bottom: 2px;
	left: 17%;
	right: 17%;
	height: .5em;
	border-top: 1px solid rgba(210, 210, 210, .37);
}

.centered-card {
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--primaryBackground);
	width: 512px;
	padding: 1rem;
	margin-bottom: 1rem;
	margin-left: auto;
	margin-right: auto;
	color: var(--primaryText);
	border: solid 1px rgb(var(--gray300));
	border-radius: 0.25rem;
}

.card > .card-body {
	border: none;
	border-radius: 0;
}

.card-footer {
	border: none;
}

.card-footer .btn-block {
	border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/*	NEWS CARD
	=================== */

.card-news {
	background: var(--primaryBackground);
	padding: 0;
}

.card-news + .card-news {
	margin-top: 1rem;
}

.card-news .card-header {
	background: none;
    padding: 1.2rem 1.5rem 0.5rem 0;
    border: none;
    font-size: 1rem;
    font-weight: var(--weightBold);
    text-transform: uppercase;
	letter-spacing: 0.2rem;
	overflow: hidden;
}

.card-news .card-subheader {
    margin-top: -2px;
    color: rgb(var(--gray700));
	font-size: 0.8rem;
    font-weight: var(--weightRegular);
    text-transform: none;
    letter-spacing: 0;
}

.card-news .card-body {
	background: none;
	height: 75px;
	max-height: 75px;
    margin: 0;
    padding: 0 1.5rem 0 0;
	border: none;
	text-align: justify;
    overflow: hidden;
}

.card-news .news-content {
	position: relative;
}

.card-news .news-avatar {
	margin: 1rem 2rem 0;
    height: 125px;
    float: left;
    overflow: hidden;
}

.card-news .news-avatar img {
	height: 150px;
}

@media (max-width: 576px) {
	.card-news .news-avatar {
		margin-left: 0;
	}
	.card-news .news-avatar img {
		display: none;
	}
}

.card-news .fade-effect {
	position: absolute;
	bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to top, rgb(var(--white)), rgba(var(--white), 0.85), rgba(var(--white), 0.5), transparent);
    height: 50px;
}

.card-news .card-footer {
	background: none;
    padding: 0;
    border: none;
}

/*	FORUM CARD
	=================== */

.card-forum {
	background: var(--primaryBackground);
	padding: 0;
	border-radius: 0.25rem;
	overflow: hidden;
}

/*	THREAD CARD
	=================== */

.card-thread {
	background: var(--primaryBackground);
	padding: 1rem 1.5rem;
}

.card-thread [class*="col"]:first-child {
	text-align: center;
	padding-right: 0;
}

.card-thread [class*="col"]:first-child img {
	height: 125px;
	width: auto;
}

@media (max-width: 768px) {
	.card-thread [class*="col"]:first-child {
		display: none;
	}
}

/*	THREAD REPLY CARD
	=================== */

.card-thread-reply {
	display: flex;
	flex-direction: row;
}

.card-thread-reply .thread-reply-avatar img {
	height: 35px;
	width: 35px;
	margin-right: 1rem;
	border-radius: 0.25rem;
}

.card-thread .upthread {
	float: right;
}

.card-thread .upthread a {
	color: rgb(var(--gray400));
	font-size: 1.25rem;
	text-decoration: none !important;
}

.card-thread-reply .thread-reply-content {
	width: 100%;
}

/*	LEADERBOARD CARD
	=================== */

.card-leaderboard {
	background: var(--primaryBackground);
	padding: 0;
	border-radius: 0.25rem;
	overflow: hidden;
}

.card-leaderboard .card-header {
	background: rgb(var(--primaryLighter));
	margin: 0 -1px;
	padding: 0.5rem 1rem;
	color: rgb(var(--white));
	font-size: 0.8rem;
	font-weight: var(--weightBold);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
}

.card-leaderboard .stats-header {
	display: flex;
	align-items: center;
	padding: 0.7rem 1.2rem;
	font-size: 0.9rem;
}

.card-leaderboard .stats-header .season-selector {
	margin-left: auto;
}

.card-leaderboard .stats-header .season-selector .dropdown-toggle {
	color: rgba(var(--white), 0.75);
	font-size: 0.8rem;
	text-decoration: none !important;
	transition: var(--transitionColor);
}

.card-leaderboard .stats-header .season-selector .dropdown-toggle:hover {
	color: rgba(var(--white), 1);
}

.card-leaderboard .card-body {
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0;
	overflow: hidden;
}

.card-leaderboard .card-footer {
	background: var(--primaryBackground);
    padding: 0;
}

/*	PROFILE CARD
	=================== */

.card-profile {
	padding: 0;
	text-align: center;
}

.card-profile .card-header {
	background: rgb(var(--gray700));
	margin: 0 -1px;
	padding: 0.5rem;
	color: rgb(var(--white));
	font-size: 0.85rem;
	font-weight: var(--weightMedium);
	text-transform: uppercase;
}

.card-profile .card-header > div {
	font-size: 0.7em;
    font-weight: var(--weightRegular);
}

.card-profile .card-body {
	margin: 0;
	padding: 1rem;
	border-radius: 0 0 0.25rem 0.25rem;
}

.card-profile .card-body .player-avatar {
	height: 125px;
	width: 125px;
	margin: 0 auto 0.5rem;
	border: solid 1px rgb(var(--gray300));
	border-radius: 50%;
	overflow: hidden;
}

.card-profile .card-body .player-avatar img {
	height: 150px;
	border-radius: 12px;
	padding: 2px;
	margin: 10px 0;
}

.card-profile .card-body .player-username {
	font-size: 1.2rem;
	font-weight: var(--weightMedium);
}

.card-profile .card-body .player-rank {
	font-size: 0.8rem;
	font-weight: var(--weightBold);
	text-transform: uppercase;
	letter-spacing: 0.075rem;
}

.card-profile .card-footer {
	background: rgb(var(--gray700));
	margin: 0 -1px;
	padding: 0.5rem;
	color: rgb(var(--white));
	font-size: 0.85rem;
	font-weight: var(--weightMedium);
	text-transform: uppercase;
}

.card-profile .card-footer .badge {
	all: unset;
	background: none !important;
	border: none !important;
}

.player-status-heading {
    display: flex;
    align-items: center;
    justify-content: center;
	color: rgb(var(--gray600));
    font-size: 0.8rem;
    font-weight: var(--weightBold);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
}

.player-status-bullet {
	background: #767676;
    height: 6px;
    width: 6px;
    margin-right: 7px;
    border-radius: 50%;
}

.player-status-meta {
	color: rgb(var(--gray500));
	font-size: 0.75rem;
	text-align: center;
}

/*	PLAYER LISTS CARD
	=================== */

.card-players-list {
	padding: 0;
}

.card-players-list .card-body {
	padding-bottom: 0.25rem;
	border-radius: 0.25rem;
}

.card-players-list .card-footer {
	background: rgb(var(--gray700));
	margin: 0 -1px -1px;
	padding: 0.4rem;
	color: rgb(var(--white));
	font-size: 0.8rem;
	font-weight: var(--weightMedium);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
}

.players-list {
	display: flex;
}

.player-item {
	flex: 1;
	background: var(--primaryBackground);
	min-width: 200px;
	margin: 0 15px 15px;
	padding: 1.5rem 1.5rem 0;
	overflow: hidden;
}

.player-item .player-avatar {
	width: 150px;
	height: 150px;
	margin: 0 auto 1rem;
    border: solid 1px rgb(var(--gray300));
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
}

.player-item .player-avatar img {
	width: 85px;
    margin-top: 0.5rem;
	filter: none !important;
	transition: width 0.25s ease;
}

.player-item .player-avatar img:hover {
	width: 95px;
}

.player-item .player-username {
	font-size: 1.2rem;
    font-weight: var(--weightMedium);
    text-align: center;
}

.player-item .player-rank {
	background: rgb(var(--gray700));
	margin: 0.5rem -1.5rem 0;
	padding: 0.4rem;
	color: rgb(var(--white));
	font-size: 0.8rem;
	font-weight: var(--weightMedium);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
}

/*	PROFILE STATS CARD
	=================== */

.card-profile-stats {
	background: var(--primaryBackground);
	padding: 0;
	border-radius: 0.25rem;
}

.card-profile-stats .card-header {
	background: rgb(var(--primaryLighter));
	margin: 0 -1px;
	padding: 0.5rem 1rem;
	color: rgb(var(--white));
	font-size: 0.8rem;
	font-weight: var(--weightBold);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
}

.card-profile-stats .card-body {
	background: none;
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0 0 0.25rem 0.25rem;
	overflow: hidden;
}

.profile-stats .profile-stat-item {
	display: flex;
    align-items: center;
	background: var(--primaryBackground);
    padding: 0.5rem 1rem;
	transition: var(--transitionBackground);
}

.profile-stats .profile-stat-item:nth-child(2n) {
	background: rgba(0, 0, 0, 0.015);
}

.profile-stats .profile-stat-item:hover {
	background: rgba(0, 0, 0, 0.025);
}


.profile-stats .profile-stat-item:not(:first-child) {
    border-top: solid 1px rgb(var(--gray300));
}

.profile-stats .profile-stat-item .profile-stat-value {
    margin-left: auto;
    font-weight: var(--weightMedium);
}

/*	PROFILE FRIENDS CARD
	=================== */
	
.card-profile-friends {
	padding: 0;
}

.card-profile-friends .card-header {
	background: none;
    padding-bottom: 0;
    border: none;
    color: rgb(var(--gray500));
	font-size: 0.8rem;
    font-weight: var(--weightBold);
	text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.card-profile-friends .card-body {
	margin: 0;
    color: var(--primaryText);
	text-align: center;
}

.card-profile-friends .card-footer {
	margin: 0 -1px -1px;
	padding: 0;
	border: none;
}

.card-profile-friends .card-footer .btn-block {
	border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.profile-friends-list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.friends-list-item {
    margin: 0.2rem;
}

.friends-list-item img {
    width: 30px;
    height: 30px;
    border-radius: 0.25rem;
}

/*	SEASON SELECTION
	=================== */

.season-selection {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-bottom: 1rem;
	border-bottom: solid 2px rgb(var(--gray300));
}

.season-selection .season-selection-item {
	color: rgb(var(--gray400));
	font-size: 0.85rem;
	font-weight: var(--weightMedium);
	text-transform: uppercase;
	text-decoration: none !important;
}

.season-selection .season-selection-item.active {
	color: rgb(var(--gray500));
	font-weight: var(--weightBold);
}

.season-selection .season-selection-item:hover {
	color: rgb(var(--gray600));
}

.season-selection .season-selection-item:not(:first-child) {
    margin-left: 0.5rem;
}

/*	TABLE
	=================== */

.table {
	margin: 0;
	color: var(--primaryText);
	font-size: 0.9rem;
	font-weight: var(--weightRegular);
}

/*	RESPONSIVE TABLE
	=================== */

.table-responsive {
	display: table;
}

@media (max-width: 768px) {
	.table-responsive th:not(:first-child):not(:last-child),
	.table-responsive td:not(:first-child):not(:last-child),
	.table-responsive col:not(:first-child):not(:last-child) {
		display: none;
	}
	.table-responsive col:first-child {
		width: 65% !important;
	}
	.table-responsive col:last-child {
		width: 35% !important;
	}
}

@media (max-width: 576px) {
	.table-responsive th:not(:first-child),
	.table-responsive td:not(:first-child),
	.table-responsive col:not(:first-child) {
		display: none;
	}
	.table-responsive col:first-child {
		width: 100% !important;
	}
}

/*	LEADERBOARD TABLE
	=================== */

.table-leaderboard thead th {
    background: rgba(var(--gray100));
    padding: 0.5rem 0.8rem;
	border: none;
}

.table-leaderboard tbody tr {
	background: var(--primaryBackground);
	transition: var(--transitionBackground);
}

.table-leaderboard tbody tr:nth-child(2n) {
	background: rgba(0, 0, 0, 0.015);
}

.table-leaderboard tbody tr:hover {
	background: rgba(0, 0, 0, 0.03);
}

.table-leaderboard tbody td {
    padding: 0.5rem 0.8rem;
    border: none;
	border-top: solid 1px rgb(var(--gray200));
	vertical-align: middle;
	font-size: 0.8rem;
}

.table-leaderboard tbody td:first-child {
	font-size: 1.1em;
}

.table-leaderboard tbody td a:hover {
	color: rgb(var(--gray900));
	text-decoration: none !important;
}

.table-leaderboard tbody td img {
	width: 18px;
	height: 18px;
    margin-right: 0.5rem;
    border-radius: 0.2rem;
}

.table-leaderboard tr.rank-1 td img {
	box-shadow: 0 -0.5px 0 2px rgba(254,225,1, 0.75);
}

.table-leaderboard tr.rank-2 td img {
	box-shadow: 0 -0.5px 0 2px rgba(167, 167, 173, 0.75);
}

.table-leaderboard tr.rank-3 td img {
	box-shadow: 0 -0.5px 0 2px rgba(167, 112, 68, 0.75);
}

.table-leaderboard thead th:first-child,
.table-leaderboard thead th:last-child,
.table-leaderboard tbody td:first-child,
.table-leaderboard tbody td:last-child {
	text-align: center;
}

.table-leaderboard tbody .accent-1,
.table-leaderboard tbody .accent-2,
.table-leaderboard tbody .accent-3 {
	display: inline-flex;
    height: 20px;
    width: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
	background: rgb(var(--white));
	color: rgb(var(--white));
	font-size: 0.6rem;
	font-weight: var(--weightBold);
}

.table-leaderboard tbody .accent-1 {
	background: rgb(255, 183, 77);
}

.table-leaderboard tbody .accent-2 {
	background: rgb(224, 224, 224);
}

.table-leaderboard tbody .accent-3 {
	background: rgb(161, 136, 127);
}

/*	DETAILED LEADERBOARD TABLE
	=================== */

.table-leaderboard-detailed {
	border-radius: 0.25rem;
	overflow: hidden;
}
	
.table-leaderboard-detailed thead th {
	background: rgb(var(--primaryLighter));
	color: rgb(var(--white));
	font-size: 0.9rem;
	font-weight: var(--weightMedium);
	text-transform: uppercase;
    padding: 0.65rem 0.8rem;
}

.table-leaderboard-detailed tbody td {
	font-size: 0.9rem;
}

/*	FORUM TABLE
	=================== */

.table-forum {
	border: none;
	border-radius: 0.25rem;
	overflow: hidden;
}

.table-forum thead {
	
}

.table-forum thead th {
	background: rgb(var(--primaryLighter));
    padding: 1rem 1.25rem;
	border: none;
	color: rgb(var(--white));
	font-size: 0.9rem;
	font-weight: var(--weightMedium);
	text-transform: uppercase;
}

.table-forum thead th,
.table-forum tbody td {
	line-height: 1.1rem;
	text-align: center;
	vertical-align: middle;
}

.table-forum thead th:first-child,
.table-forum tbody td:first-child  {
	text-align: left;
}

.table-forum thead th:last-child:not(:first-child),
.table-forum tbody td:last-child:not(:first-child)  {
	text-align: right;
}

.table-forum tbody {
	background: var(--primaryBackground);
}

.table-forum tbody tr {
	background: var(--primaryBackground);
	transition: var(--transitionBackground);
}

.table-forum tbody tr:nth-child(2n) {
	background: rgba(0, 0, 0, 0.015);
}

.table-forum tbody tr:hover {
	background: rgba(0, 0, 0, 0.03);
}

.table-forum tbody td {
    padding: 0.8rem 1.25rem;
	border: none;
	border-top: solid 1px rgb(var(--gray200));
}

.table-forum tbody .forum-title {
	font-weight: var(--weightMedium);
}

.table-forum tbody .forum-title-upvotes {
	display: flex;
	align-items: center;
}

.table-forum tbody .forum-title-upvotes .upvotes {
	color: rgb(var(--gray300));
    font-size: 1.5rem;
    font-weight: var(--weightBold);
    margin-right: 0.8rem;
    margin-top: -5px;
}

.table-forum tbody .forum-stats {

}

.table-forum tbody .forum-stats + .forum-stats {
	font-size: 0.95em;
}

.table-forum tbody .forum-latest {
}

/*	NAV PILLS
	=================== */

.nav-pills .nav-item .nav-link {
	padding: 0.5rem 1rem;
	color: rgb(var(--gray500));
	font-size: 0.7rem;
	font-weight: var(--weightBold);
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	transition: var(--transitionColor);
}

.nav-pills .nav-item .nav-link:hover {
	color: rgb(var(--gray700));
	font-size: 0.7rem;
}

.nav-pills .nav-item .nav-link.active {
	background: rgb(var(--primaryLighter));
	border: none;
	border-radius: 5rem;
	color: rgb(var(--white));
}

/*	FORM-CONTROL
	=================== */

.form-control {
	background: none;
	padding: 0.5rem;
	border: solid 1px rgb(var(--gray400));
	border-radius: 0.25rem;
	box-shadow: none !important;
	color: var(--primaryText);
	font-size: 0.8rem;
	transition: var(--transitionBorder);
}

.form-control:focus {
	border: solid 1px rgb(var(--primary));	
}

/*	BUTTONS
	=================== */

.btn {
    padding: 0.4rem 1.4rem;
	border: none !important;
    border-radius: 0.25rem;
    box-sizing: border-box;
    box-shadow: none !important;
    color: rgb(var(--white)) !important;
    font-size: 0.85rem;
	font-weight: var(--weightMedium);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    outline: none;
    transition: var(--transitionFilter);
}

.btn-hover,
.btn:hover {
    filter: grayscale(0.2);
    -webkit-filter: grayscale(0.2);
}

.btn.focus,
.btn:focus {
    filter: grayscale(0.3);
    -webkit-filter: grayscale(0.3);
}

.btn:not(:disabled):not(.disabled).active,
.btn:not(:disabled):not(.disabled):active,
.show > .btn.dropdown-toggle {
    color: rgb(var(--white)) !important;
    filter: grayscale(0.3);
    -webkit-filter: grayscale(0.3);
}

.btn-default {
	background: #767676 !important;
}

.btn-primary {
    background: rgb(var(--primary)) !important;
}

.btn-success {
    background: #31de28 !important;
}

.btn-danger {
    background: #C62828 !important;
}

.btn-sm {
    font-size: 0.65rem;
    font-weight: var(--weightMedium);
    letter-spacing: 0.1rem;
    border-radius: 0.25rem;
	padding: 0.4rem 1rem;
}

/*	DROPDOWN
	=================== */

.dropdown .dropdown-menu {
	background: var(--primaryBackground);
	padding: 0.35rem 0;
	border: solid 1px rgb(var(--gray300));
	border-radius: 0.25rem;
}

.dropdown .dropdown-menu-center {
	right: auto !important;
    left: 50% !important;
    -webkit-transform: translate(-50%, 20px) !important;
    -o-transform: translate(-50%, 20px) !important;
    transform: translate(-50%, 20px) !important;
	text-align: center !important;
}

.dropdown .dropdown-menu .dropdown-item {
	background: none;
	padding: 0.2rem 1.25rem;
	color: rgb(var(--gray500));
	font-size: 0.775rem;
	font-weight: var(--weightMedium);
	text-transform: uppercase;
	letter-spacing: 0;
	transition: var(--transitionBackground), var(--transitionColor);
}

.dropdown .dropdown-menu .dropdown-item strong {
	color: rgb(var(--gray700));
	font-weight: var(--weightBold);
}


.dropdown .dropdown-menu .dropdown-item:hover {
	color: rgb(var(--gray600));
}

.dropdown .dropdown-menu-right .dropdown-item {
	text-align: right;
}

.dropdown .dropdown-menu .dropdown-item:hover {
	background: rgb(var(--gray100));
}

/*	PAGINATION
	=================== */
	
.pagination {
	justify-content: center;
}

.page-link {
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--primaryBackground);
	height: 28px;
	width: 28px;
	padding: 0;
	border: solid 1px rgb(var(--gray300));
	border-radius: 0.25rem;
	color: var(--primaryContent);
	font-size: 0.75rem;
	box-shadow: none !important;
	transition: var(--transitionBackground);
}

.page-link:hover {
	background: rgb(var(--gray200));
	color: var(--primaryContent);
}

.page-item.active .page-link {
	background: rgb(var(--primary));
	border-color: rgb(var(--primary));
	color: rgb(var(--white));
}

.page-item .page-link.dots {
	background: none;
    width: 8px;
    border: none;
    font-weight: var(--weightBold);
}

.page-item:not(:first-child) {
	margin-left: 0.5rem;
}

/*	FOOTER
	=================== */

.footer {
    background: rgb(var(--gray900));
    color: rgb(var(--gray700));
    font-size: 0.9rem;
    line-height: 0.9rem;
    text-align: center;
    text-transform: uppercase;
    padding: 2rem 0;
	margin-top: auto;
}

.footer img {
    width: 80px;
    opacity: 0.5;
    filter: grayscale(100%);
	transition: var(--transitionFilter), var(--transitionOpacity);
}

.footer img:hover {
    opacity: 1;
	filter: grayscale(0%);
}

@media (max-width: 768px) {
	.footer img {
		display: block;
		margin: 0 auto 1rem;
	}
}

.footer a {
	color: rgb(var(--gray700));
	transition: var(--transitionColor);
}

.footer a:hover {
	color: rgb(var(--gray400)) !important;
}

.footer [class*="col"]:first-child a {
    margin-left: 1rem;
    display: inline-block;
    transform: translateY(5px);
}

.footer [class*="col"]:first-child a,
.footer [class*="col"]:first-child a i {
    font-size: 1.1rem;
    color: rgb(var(--gray700));
	transition: var(--transitionColor);
}

.footer [class*="col"] a:hover,
.footer [class*="col"] a:hover i {
	color: rgb(var(--gray400)) !important;
	text-decoration: none !important;
}

.footer ul {
    margin: 0;
    margin-top: 1rem;;
    padding: 0;
}

.footer ul li {
	list-style: none;
	font-size: 0.8rem;
}

@media (min-width: 768px) {
    .footer [class*="col"]:first-child {
        text-align: left;
    }
    .footer [class*="col"]:last-child {
        text-align: right;
    }
    .footer ul {
        margin: 0;
    }
    .footer ul li {
        display: inline;
        text-align: right;
        margin: 0 0.8rem;
    }
}

/*	HEADINGS
	=================== */
	
h2 {
	display: inline-block;
	margin-bottom: 1rem;
	color: rgb(var(--gray700));
	font-size: 1.25rem;
	font-weight: var(--weightBold);
	text-transform: uppercase;
	letter-spacing: 0.1rem;
}

h3 {
	margin-bottom: 0.8rem;
    font-size: 1.2rem;
    font-weight: var(--weightBold);
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

.tagline {
    color: rgb(var(--gray600));
    font-size: 0.9rem;
    font-weight: var(--weightRegular);
	text-transform: none;
	letter-spacing: 0;
}

.meta {
    color: rgb(var(--gray500));
    font-size: 0.8rem;
    font-weight: var(--weightRegular);
}

strong, b {
	font-weight: var(--weightMedium);
}

/*	ANCHOR
	=================== */

a {
	color: rgb(var(--gray600));
	transition: var(--transitionColor), var(--transitionFilter);
}

a img, a div {
	transition: var(--transitionColor), var(--transitionFilter);
}

a:hover {
	color: rgb(var(--gray800));
	text-decoration: none;
}

a:hover img,
a:hover div {
    filter: brightness(0.85);
    -webkit-filter: brightness(0.85);
}

/*	SEARCH PLAYER MODAL
	=================== */

#modal-searchPlayer .modal-dialog {
	padding-top: 3rem;
}

#modal-searchPlayer .modal-content {
	background: none;
    border: none;
}

#modal-searchPlayer .modal-body .form-control {
	background: var(--primaryBackground);
	padding: 1.2rem 1.5rem;
	border: none !important;
	border-radius: 5rem;
	transition: box-shadow 0.2s ease;
}

#modal-searchPlayer .modal-body .form-control:focus {
	box-shadow: 0 2px 6px 3px rgb(var(--black), 0.25) !important;
}

/*	SEARCH PLAYER DROPDOWN
	=================== */

#dropdown-searchPlayer .dropdown-menu {
	width: 100%;
	margin-top: 0.5rem;
}

/*	UTILITIES
	=================== */

.tooltip-inner {
    font-family: 'Raleway', sans-serif;
    padding: 0.2rem 0.6rem;
    border-radius: 0.25rem;
    font-size: 0.75rem;
}

textarea {
	width: 100%;
}

.pairs dl {
	overflow: hidden;
	margin: 0;
}

.pairs dl:not(:first-child) {
	margin-top: 0.1rem;
}

.pairs dt {
	color: rgb(var(--gray500));
	font-size: 0.8rem;
	font-weight: var(--weightRegular);
	float: left;
	max-width: 100%;
	margin: 0;
	margin-right: 5px;
}

.pairs dd {
	color: rgb(var(--gray600));
	font-weight: var(--weightMedium);
	font-size: 0.8rem;
	float: right;
	text-align: right;
	margin: 0;
	max-width: 100%;
}

.disabled {
	position: relative;
	opacity: .5;
	user-select: none !important;
	cursor: default !important;
	pointer-events: none;
}

.disabled:after {
	content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.minw-auto {
	min-width: auto;
}

.maxw-auto {
	max-width: auto;
}

.minh-auto {
	min-height: auto;
}

.maxh-auto {
	max-height: auto;
}

::selection {
	background: rgba(0, 0, 0, 0.1);
}

.punishments-record {
    background: rgb(var(--gray600));
    padding: 0.5rem;
	border: none;
    color: rgb(var(--white));
    font-size: 0.7rem;
    font-weight: var(--weightMedium);
	text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}
