<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">The Craft</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">

</head>
<body id="page-index"><div class="wrapper">
    <div>
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="/">TheCraft<span>RIP</span></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
                    <i class="fas fa-bars fa-fw"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item" th:classappend="${#httpServletRequest.requestURI == '/' ? 'active':''}">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item" th:classappend="${#httpServletRequest.requestURI.startsWith('/forums') || #httpServletRequest.requestURI.startsWith('/thread') ? 'active':''}">
                            <a class="nav-link" href="/forums">Forums</a>
                        </li>
                        <li class="nav-item" th:classappend="${#httpServletRequest.requestURI == '/leaderboards' ? 'active':''}">
                            <a class="nav-link" href="/leaderboards">Leaderboards</a>
                        </li>
                        <li class="nav-item" th:classappend="${#httpServletRequest.requestURI == '/support' ? 'active':''}">
                            <a class="nav-link" href="/support">Support</a>
                        </li>
                        <li class="nav-item" th:classappend="${#httpServletRequest.requestURI == '/staff' ? 'active':''}">
                            <a class="nav-link" href="/staff">Staff</a>
                        </li>
                        <li class="nav-item" th:classappend="${#httpServletRequest.requestURI == '/famous' ? 'active':''}">
                            <a class="nav-link" href="/famous/">Famous</a>
                        </li>
                        <li class="nav-item store-item">
                            <a class="nav-link" href="https://store.thecraft.rip"><i class="fas fa-shopping-basket fa-fw"></i> Store</a>
                        </li>
                        <li class="nav-item search-item">
                            <a class="nav-link" href="#" id="button-searchPlayer"><i class="fas fa-search fa-fw"></i></a>
                        </li>

                        <li class="nav-item avatar">
                            <a class="nav-link" th:if="${session.user} != null" th:href="@{'/player/' + ${session.user.username}}" id="button-user">
                                <img th:src="@{'https://crafatar.com/avatars/' + ${session.user.id.toString()} + '?size=22&overlay'}"> <!-- Add user profile or steve -->
                            </a>
                            <a class="nav-link" th:if="${session.user} == null" href="/login" id="button-login">
                                Login
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="modal fade" id="modal-searchPlayer" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <input type="text" class="form-control" id="input-searchPlayer" placeholder="Search player...">
                        <div class="dropdown" id="dropdown-searchPlayer">
                            <span id="dropdown-toggle"></span>
                            <div class="dropdown-menu">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="header" th:if="${#httpServletRequest.requestURI == '/'}">
        <div class="container">
            <img class="header-logo" th:src="@{/img/logo.png}">
            <h1>
                <div class="subtitle">
                    Fight friends, play events and have fun
                </div>
            </h1>
        </div>
    </div>


    <div class="container">
        <div layout:fragment="content"></div>
    </div>
    <!-- /.container -->

    <footer class="footer">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <img th:src="@{/img/logo.png}">
                    <a href="https://discord.gg/gRmFakA"><i class="fab fa-discord"></i></a>
                    <a href="https://t.me/thecraftrip"><i class="fab fa-telegram"></i></a>
                    <a href="https://twitter.com/TheCraftRIP"><i class="fab fa-twitter"></i></a>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li><a th:href="@{/terms}">Terms and Conditions</a></li>
                        <li><a th:href="@{/privacy}">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/scripts.js}"></script>
</body>
</html>