<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>
    <title th:text="${user.username}"></title>
</head>

<body>
<div layout:fragment="content">
    <div class="heading">
        <img th:src="@{'https://crafatar.com/avatars/' + ${user.id.toString()} + '?size=24?overlay'}" class="heading-avatar" th:text="${user.username}">
    </div>

    <div class="row">
        <div class="col-md-4 col-lg-3">
            <div class="card card-profile">
                <div class="card-header">??? (NEVER PLAYED)</div>
            <div class="card-body">
                <div class="player-avatar">
                    <img th:src="@{'https://crafatar.com/renders/body/' + ${currentUser.id.toString()} + '?overlay'}">
                </div>
                <div class="player-username">
                    Mannys
                </div>
                <div class="player-rank" style="color: darkred">
                    Trial Owner
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>