<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>
    <title>Register</title>
</head>
<body>

<div layout:fragment="content">
    <form class="form-signin" th:action="@{/register}" method="post">
        <h1 class="h3 mb-3 font-weight-normal">Register Here</h1>
        <div th:if="${param.error}">
            Invalid email and password.
        </div>
        <div th:if="${param.logout}" class="alert-success">
            You have been logged out.
        </div>

        <input type="email" name="email" class="form-control" placeholder="Email" required="" />

        <input type="username" name="username" class="form-control" placeholder="Username" required="" />

        <input type="password" name="password" class="form-control" placeholder="Password" required="" />


        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
        <div class="g-recaptcha col-sm-5"
             th:attr="data-sitekey=${@captchaSettings.getSite()}"></div>
        <span id="captchaError" class="alert alert-danger col-sm-4" style="display:none"></span>
    </form>
    <form class="form-signin" th:action="@{/login}" method="get">
        <button class="btn btn-md btn-success btn-block" type="Submit">Sign In</button>
    </form>
</div>
</body>
</html>