<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>
    <title>Register</title>
</head>
<body>

<div layout:fragment="content">
    <form class="form-signin" th:action="@{/register}" method="post">
        <h1 class="h3 mb-3 font-weight-normal align-content-center">Create an account</h1>
        <div th:if="${param.error}">
            Invalid email and password.
        </div>
        <div th:if="${param.logout}" class="alert-success">
            You have been logged out.
        </div>

        <label for="inputEmail" class="sr-only">Email</label>
        <input type="text" name="email" id="inputEmail" class="form-control" placeholder="Email" required=""/>

        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required=""/>

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required=""/>

        <form class="form-signin" th:action="@{/login}" method="get">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
            <a>Already have an account? </a><a class="text-info" th:href="@{/login}">Sign in</a>
        </form>
    </form>
</div>
</body>
</html>