<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>
    <title>Register</title>
</head>
<body>

<div layout:fragment="content">
    <form class="form-signin" th:action="@{/register}" method="post">
        <h1 class="h3 mb-3 font-weight-normal align-content-center">Create an account</h1>
        <div th:if="${param.error}">
            Invalid email and password.
        </div>
        <div th:if="${param.logout}" class="alert-success">
            You have been logged out.
        </div>

        <input type="email" class="form-control" id="email" name="login" placeholder="email">
        <input type="text" class="form-control" id="username" name="login" placeholder="username">
        <input type="password" class="form-control" id="password" name="login" placeholder="password">

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
        <a>Already have an account? </a><a class="text-info" th:href="@{/login}">Sign in</a>
    </form>
</div>
</body>
</html>