<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<body>

<div layout:fragment="content">
    <form th:action="@{/forums/create}" method="post">
        <h1 class="h3 mb-3 font-weight-normal align-content-center">Create a forum</h1>
        <div th:if="${param.exists}">
            Category already exists
        </div>

        <label for="inputName" class="sr-only">Name</label>
        <input type="text" name="name" id="inputName" class="form-control" placeholder="Name" required=""/>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Add category</button>
    </form>
</div>
</body>
</html>